@import "../../vars.css";

.navbar {
   position: relative;
    padding-top: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
    z-index: 2;
}

.title {
    color: var(--color-text);
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
}
.menuBtn {
    display: none;
}
.links {
    display: flex;
    
}

.navList {
    list-style-type: none;
    display: flex;
    gap: 47px;
}

.navList a {
   font-size: 25px;
   color: var(--color-text);
    text-decoration: none;
}
.navList a:hover {
    box-shadow: 0 0 12px rgba(87, 108, 188, 0.8);
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
}

@media screen and (max-width: 830px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .links {
        position: absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }
    .menuBtn {
        display: block;
        cursor: pointer;
    }
    .navList {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        border-radius: 10px;
        background: rgb(25,55,109);
        background: linear-gradient(90deg, rgba(25,55,109,1) 0%, rgba(0,0,0,1) 100%);
        padding: 24px 33px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    }
    .navListOpen {
        display: flex;
        z-index: 1;
    }
}

