@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 49px 10% 0 10%;
    z-index: 1;
}

.content {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   color: var(--color-text);
   z-index: 1;
}
.title {
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 33px;
    font-family: var(--font-roboto);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 120%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description {
    font-size: 30px;
    margin-bottom: 52px;
    line-height: 1.5;
    font-family: var(--font-roboto);
}

.contactBtn {
    background-color: var(--color-primary);
    color: var(--colors-text);
    padding: 17px 26px;
    font-size: 30px;
    font-weight: 600;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    text-decoration: none;
    font-family: var(--font-roboto);
    box-shadow: 0 0 4px rgba(87, 108, 188, 0.4);
}
.contactBtn:hover {
    box-shadow: 0 0 12px rgba(87, 108, 188, 0.8); 
    transition: box-shadow 0.3s ease-in-out;
}
.heroImg{
    width: 50%;
    height: 70%;
    border-radius: 50%;
    z-index: 1;

    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.topBlur {
    position: absolute;
    width: 50vw;
    height: 50vh;
    min-width: 350px;
    min-height: 350px;
    top: -128px;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}
.bottomBlur {
    position: absolute;
    width: 70vw;
    height: 50vh;
    min-width: 350px;
    min-height: 250px;
    top: 246px;
    right: -25vw;
    border-radius: 764px;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
    z-index: 0;
}
@media screen and (max-width: 830px) {
    .container {
        flex-direction: column-reverse;

    }
    .content {
        align-items: center;
        text-align: center;
    }
}