@import '../../vars.css';

.container {
    margin: 76px 10% 0 10%;
    color: var(--color-text);
}

.title {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    color: var(--color-text);
}

.projects {
    margin-top: 37px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
}